.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9ad1f3;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 8px; /* Закругленные углы */
    width: 300px; /* Ширина модального окна */
  }
  
  .modal input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%; /* Полная ширина кнопок */
    border: none; /* Убираем границу */
    background-color: #fcfcfc; /* Цвет фона кнопки */
    color: #000000; /* Цвет текста кнопки */
    border-radius: 4px; /* Закругленные углы */
    box-sizing: border-box; /* Включает padding и border в общую ширину */
  }
  
  .modal button:hover {
    background-color: #7cabf4; /* Цвет фона кнопки при наведении */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Под модальным окном */
  }

  .divider {
    border: none; /* Убираем стандартные границы */
    height: 1px; /* Высота линии */
    background-color: #000000; /* Цвет линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.button-container {
    display: flex; /* Используем Flexbox для выравнивания кнопок */
    justify-content: flex-end; /* Размещаем кнопки у правого края контейнера */
}

.button-container button {
    border: none; /* Убираем границу */
    border-radius: 18px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    margin-left: 10px; /* Отступ между кнопками */
}